<html>

<head>
    <title>My First Website
    </title>
    <link rel="Stylesheet" href="layout\styles.css">
</head>

<body>
    <ul>
        <li>
            <a class="active"href="index.html">Home</a>
        </li>
        <li>
            <a href="about-us.html"> About us</a>
        </li>
        <li>
            <a href="services.html">Services</a>
        </li>
        <li>
            <a href="contact-us.html">Contact us</a>
        </li>
    </ul>

    <div class="container">
        I am on contact-us
        </div>
</body>

</html>